[submodule "admin/user"]
	path = admin/user
	url = git@github.com:andreev-artem/bulk_user_improvements.git
[submodule "admin/report/files"]
	path = admin/report/files
	url = git@github.com:andreev-artem/admin_report_files.git
[submodule "admin/report/messages"]
	path = admin/report/messages
	url = git@github.com:andreev-artem/admin_report_messages.git
