[submodule "mod/attforblock"]
	path = mod/attforblock
	url = git@github.com:andreev-artem/moodle_mod_attforblock.git
[submodule "blocks/attendance"]
	path = blocks/attendance
	url = git@github.com:andreev-artem/moodle_blocks_attendance.git
[submodule "question/type/order"]
	path = question/type/order
	url = git@github.com:andreev-artem/moodle_question_type_order.git
[submodule "question/type/ddmatch"]
	path = question/type/ddmatch
	url = git@github.com:andreev-artem/moodle_question_type_ddmatch.git
[submodule "question/type/flash"]
	path = question/type/flash
	url = git@github.com:andreev-artem/moodle_question_type_flash.git
[submodule "blocks/course_results"]
	path = blocks/course_results
	url = git@github.com:andreev-artem/moodle_blocks_course_results.git
